/* Clear up unordered lists */
.clean-list {
	padding: 0;
	margin: 0;
	list-style-type: none;
}

/* inline list */
.inline-list {
	li {
		display: inline;
	}
}

/* Remove data list indicator */
.no-indeicator {
	&::-webkit-calendar-picker-indicator {
  		display: none;
	} 
}